<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tailhopper</string>
	
	<key>Program</key>
	<string>{{HOME}}/bin/tailhopper</string>
	
	<key>ProgramArguments</key>
	<array>
		<string>{{HOME}}/bin/tailhopper</string>
	</array>
	
	<key>WorkingDirectory</key>
	<string>{{HOME}}/Library/Application Support/Tailhopper</string>
	
	<key>StandardOutPath</key>
	<string>{{HOME}}/Library/Logs/Tailhopper/tailhopper.log</string>
	
	<key>StandardErrorPath</key>
	<string>{{HOME}}/Library/Logs/Tailhopper/tailhopper.log</string>
	
	<key>RunAtLoad</key>
	<true/>
	
	<key>KeepAlive</key>
	<true/>
	
	<key>ProcessType</key>
	<string>Standard</string>
	
	<key>Restart</key>
	<integer>60</integer>
</dict>
</plist>
